@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prata&display=swap');


:root{
    font-family: "Inter",sans-serif;
    background: #ffffff;
}
.bw-image {
  width: 60%; /* Adjust to fit your layout */
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
  cursor: pointer; /* For smooth hover effect */
}

.bw-image:hover {
  filter: grayscale(0%); /* Show color on hover */
}
  /* .ani{
    overflow: hidden;
    animation: typing 2s steps(18), 
    cursor .4s step-end infinite alternate;
    position: relative;
    -webkit-text-stroke: 0.3vw;

  } */
   .ani::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: conic-gradient(#ff0095,#006aff,#00ff99,#ff4545);
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding:3px;
    border-radius: 10px;
  }
  .ani::before{
    filter:blur(1.5rem);
  }
/* .fullstack::before{
  content:attr(data-text);
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  color:white;
  border-right: 2px solid wheat;
  overflow: hidden;
  animation: animate 6s linear infinite;
} */
@keyframes animate {
  0%,10%,100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
}
@keyframes cursor {
  50% {border-color:transparent}
}
@keyframes typing {
  from {width: 0}
}
.aniq{
  position: sticky;
  top:0;
}
.away{
  transition: 0.5s ease-in-out;
}
html,body{
  background-color: #e1dcce;
  color:#464138;
  font-family: "Grifinto L";
  margin: 0;
  padding: 0;
}
.smooth-scroll{
  overflow: hidden;
}
.hero-scroll{
  height: 250vh;
  overflow: hidden;
}
.section{
  position: relative;
  display: flex;
  min-height: 100vh;
  padding:50px;
  justify-content: center;
}
.copy{
  background-color: #dfcfc0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-wrapper{
  max-width: 1400px;
}
.content{
  width: 100%;
  max-width: 840px;
  margin-right: auto;
  margin-left:auto;
}
h1{
  font-size: 180px;
  font-weight: 400;
  line-height: 150px;
  margin:0;
  text-transform: uppercase;

}
.image-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50%;
}
.image{
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
p{
  font-size: 4em;
  line-height: 1.2em;
}

